@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-BlackItalic.woff') format('truetype');
	font-weight: 900;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-LightItalic.woff') format('truetype');
	font-weight: 300;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-SemiBoldItalic.woff') format('truetype');
	font-weight: 600;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Regular.woff') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-ExtraLightItalic.woff') format('truetype');
	font-weight: 200;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Italic.woff') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Bold.woff') format('truetype');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-BoldItalic.woff') format('truetype');
	font-weight: bold;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-Light.woff') format('truetype');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-SemiBold.woff') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Source Sans Pro';
	src: url('../fonts/SourceSansPro-ExtraLight.woff') format('truetype');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}
