@import "vars";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $font-sourcesans;
  color: $color-white;
}

body {
  background: $color-cod-gray;
}

a {
  text-decoration: none;
  color: $color-white;
}

.discountContainer {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  @include tablet-wide{
    max-width: 1200px
  }
  @mixin tablet {
    @media (max-width: 960px) { @content; }
  }
  @mixin mobile-wide {
    @media (max-width: 640px) { @content; }
  }
  @mixin mobile {
    @media (max-width: 480px) { @content; }
  }
}

.btn {
  width: 100%;
  border-radius: 31px;
  transition: all .3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 49px;
  background: #8276ff;
  font-weight: $font-weight-medium;
  line-height: 20px;
  color: $color-white;
  cursor: pointer;

  &:hover {
    transform: scale(1.03);
  }
}

.title {
  font-weight: $font-weight-bolder;
  font-size: 44px;
  line-height: 50px;
  color: $color-white;
}
