 // Colors

 $color-cod-gray: #1E1E1E;
 $color-cornflower-blue: #8276FF;
 $color-golden-tainoi: #FFC759;
 $color-white: #ffffff;

 //FONTS

 $font-sourcesans: 'Source Sans Pro', sans-serif;
 $font-weight-regular: 400;
 $font-weight-medium: 600;
 $font-weight-bold: 700;
 $font-weight-bolder: 900;
