.discountBenefit{
  &__title{
    font-size: 39px;
    text-align: center;
    margin: 150px auto;
    &--accent{
      font-style: italic;
    }
    @include tablet{
      font-size: 28px;
      margin: 80px auto;
    }
  }
  &__blocks{
    display: flex;
    justify-content: space-between;
    @include tablet{
      flex-direction: column;
      align-items: center;
    }
  }
  &__block{
    width: 50%;
    max-height: 586px;
    height: 100%;
  }
}
