section.companies.discountContainer
    h2.companies__title Trusted by 7500+ Companies
    .companies__wrapper
        +image("companies__wrapper--item",'../img/companies1.svg')
        +image("companies__wrapper--item",'../img/companies2.svg')
        +image("companies__wrapper--item",'../img/companies3.svg')
        +image("companies__wrapper--item",'../img/companies4.svg')
        +image("companies__wrapper--item",'../img/companies5.svg')
        +image("companies__wrapper--item",'../img/companies6.svg')
        +image("companies__wrapper--item",'../img/companies7.svg')
        +image("companies__wrapper--item",'../img/companies8.svg')
        +image("companies__wrapper--item",'../img/companies9.svg')
