section.discountBenefit
    p.discountBenefit__title Benefit both ways -&nbsp;
        span.discountBenefit__title--accent monthly or yearly
    .discountBenefit__blocks
        .discountBenefit__block.benBlock
            p.benBlock__discount 50%
            .benBlock__oldPrice $4.99
                +image("benBlock__oldPrice--img","benefitLine.png")
            .benBlock__info
                p.benBlock__info--title Monthly
                p.benBlock__info--price $2.49
                p.benBlock__info--cur per user/month
                .benBlock__info__listItems
                    .benBlock__info--listItem
                        +image("benBlock__img","benefitTick.png")
                        span 14-day Free Trial
                    .benBlock__info--listItem
                        +image("benBlock__img","benefitTick.png")
                        span Access to All Features
                    .benBlock__info--listItem
                        +image("benBlock__img","benefitTick.png")
                        span 24/7 Support
                a.benBlock__btn.btn GET YOUR DEAL
            p.benBlock__months *for 6 months
        .discountBenefit__block.benBlock
            p.benBlock__discount 18%+ 50%
            p.benBlock__oldPrice $4.09
                +image("benBlock__oldPrice--img","benefitLine.png")
            .benBlock__info
                p.benBlock__info--title Monthly
                p.benBlock__info--price $2.05
                p.benBlock__info--cur per user/month
                .benBlock__info__listItems
                    .benBlock__info--listItem
                        +image("benBlock__img","benefitTick.png")
                        span 14-day Free Trial
                    .benBlock__info--listItem
                        +image("benBlock__img","benefitTick.png")
                        span Access to All Features
                    .benBlock__info--listItem
                        +image("benBlock__img","benefitTick.png")
                        span 24/7 Support
                a.benBlock__btn.btn GET YOUR DEAL
