.awards
    +image("awards__img","../img/awards1.png")
    +image("awards__img","../img/awards2.png")
    +image("awards__img","../img/awards3.png")
    +image("awards__img","../img/awards4.png")
    +image("awards__img","../img/awards5.png")
    +image("awards__img","../img/awards6.png")
    +image("awards__img","../img/awards7.png")
    +image("awards__img","../img/awards8.png")
    +image("awards__img","../img/awards9.png")
    +image("awards__img","../img/awards10.png")
    +image("awards__img","../img/awards11.png")
