section.features
    .features__title Save Big on All Features
        p.features__title--accent no exceptions
    .features__wrapper
        .features__blocks.blocks
            .blocks__header
                .blocks__item
                    +image("blocks__item--img",'../img/features1.png')
                    p.blocks__item--title Time Tracking with Screenshots
                .blocks__item
                    +image("blocks__item--img",'../img/features2.png')
                    p.blocks__item--title Productivity Monitoring
                .blocks__item
                    +image("blocks__item--img",'../img/features3.png')
                    p.blocks__item--title Task Management
                .blocks__item
                    +image("blocks__item--img",'../img/features4.png')
                    p.blocks__item--title Communication Channels
                .blocks__item
                    +image("blocks__item--img",'../img/features5.png')
                    p.blocks__item--title HR Tools
                .blocks__item
                    +image("blocks__item--img",'../img/features6.png')
                    p.blocks__item--title TOnline Reports
            .blocks__indicator
        .features__info.info
            .info__details
                .info__title Track the time your employees spend on work and get detailed information
                .info__items
                    .info__items--item
                        +image("info__items--img","benefitTick.png")
                        span 4 Screenshot Modes
                    .info__items--item
                        +image("info__items--img","benefitTick.png")
                        span Idle Time Tracking
                    .info__items--item
                        +image("info__items--img","benefitTick.png")
                        span Synchronized Tracking
                    .info__items--item
                        +image("info__items--img","benefitTick.png")
                        span Billable Hours
                a.info__btn.btn(href='javascript:void(0)') GET MY DISCOUNT
            .info__img
                +image("info__img--item","../img/features.png")
