extends pug/main
block content
    include components/navbar/discountNav
    include components/main/discountMain
    include components/benetit/discountBenefit
    include components/awards/awards
    include components/features/features
    include components/companies/companies
    include components/footer/footer
